body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --discription-1: Poppins;
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-base: 16px;
  --discription-1-size: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-mini: 15px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #252323;
  --black: #191919;
  --color-whitesmoke: #f1f1f1;
  --color-steelblue-100: #3b91ba;
  --c1-tnj: #146c94;
  --color-black: #000;
  --c5-tnj: #19a7ce;
  --davys-gray: #595959;
  --c4-tnj: #b8d9e0;
  --color-mediumblue: #120fcc;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-16xl: 35px;
  --gap-0: 0px;
  --gap-4xs: 9px;
  --gap-18xl: 37px;
  --gap-50xl: 69px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-6xl: 25px;
  --padding-4xs: 9px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-lgi: 19px;
  --padding-8xs: 5px;
  --padding-5xl: 24px;
  --padding-smi: 13px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-27xl: 46px;
  --padding-11xs: 2px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-xl: 20px;
  --br-8xs: 5px;
}
